<button mat-fab color="primary" class="fab" (click)="createLiga()">
  <mat-icon>add</mat-icon>
</button>

<div class="container">

  <div class="row justify-content-center">

    <div class="col-12 col-lg-6">

      <form>
        <div class="form-group">
          <label for="temporada">Temporada</label>
          <select class="form-control" name="temporada" id="" [(ngModel)]="temporada_selected" (change)="getLigasTemporada(temporada_selected)">
            <option value="">Seleccionar...</option>
            <option [value]="temporada.id_temporada" *ngFor="let temporada of temporadas">{{temporada.nombre}}</option>
          </select>
        </div>
      </form>

      <div class="card">
        <h5 class="card-header">Ligas</h5>
        <div class="list-group list-group-flush">
          <a [routerLink]="['/liga', liga.id_liga]" class="list-group-item list-group-item-action" *ngFor="let liga of ligas">{{liga.nombre}}</a>
        </div>
      </div>

    </div>

  </div>




</div>