<button mat-fab color="primary" class="fab">
  <mat-icon>add</mat-icon>
</button>

<div class="container">
  <form>
    <div class="form-group row">
      <label for="temporada" class="col-sm-2 col-form-label">Temporada</label>
      <div class="col-sm-10">
  <!--       <div class="input-group">
          <input type="text" class="form-control" #temporada id="temporada" placeholder="Temporada">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="addTemporada(temporada.value)">Add</button>
          </span>
        </div> -->
        <select class="form-control" name="temporada" id="" [(ngModel)]="temporada_selected" (change)="getLigasTemporada(temporada_selected)">
          <option value="">Seleccionar...</option>
          <option [value]="temporada.id_temporada" *ngFor="let temporada of temporadas">{{temporada.nombre}}</option>
        </select>
      </div>
    </div>
     <!--
    <div class="form-group row">
      <label for="liga" class="col-sm-2 col-form-label">Liga</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" #liga id="liga" placeholder="Liga">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="addLiga(liga.value)">Add</button>
          </span>
        </div> 

        <select class="form-control" name="liga" id="" [(ngModel)]="liga_selected" (change)="getLiga(liga_selected)">
          <option [value]="liga.id_liga" *ngFor="let liga of ligas">{{liga.nombre}}</option>
        </select>

      </div>
    </div>-->

    <!--     <div class="form-group row">
      <label for="equipo" class="col-sm-2 col-form-label">Equipo</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" #equipo id="equipo" placeholder="Equipo">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="addEquipo(equipo.value)">Add</button>
          </span>
        </div>

        <select class="form-control" name="equipo" id="" [(ngModel)]="equipo_selected">
          <option [value]="equipo.id_equipo" *ngFor="let equipo of equipos">{{equipo.nombre}}</option>
        </select>

      </div>
    </div>

    <div class="form-group row">
      <label for="jornada" class="col-sm-2 col-form-label">Jornada</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" #jornada id="jornada" placeholder="Jornada">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="addJornada(jornada.value)">Add</button>
          </span>
        </div>

        <select class="form-control" name="jornada" id="" [(ngModel)]="jornada_selected">
          <option [value]="jornada.id_jornada" *ngFor="let jornada of jornadas">{{jornada.nombre}}</option>
        </select>

      </div>
    </div> -->

  </form>



  <h2 class="text-center">Ligas</h2>
  
    <div class="row justify-content-center">
  
      <div class="col-12 col-lg-6">
  
        <div class="list-group">
          <a [routerLink]="['/liga', liga.id_liga]" class="list-group-item list-group-item-action" *ngFor="let liga of ligas">{{liga.nombre}}</a>
        </div>
  
      </div>
  
    </div>




</div>