@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin:0; 
    width: 100%;
    height: 100%;
}

//fix bootstrap
button:focus{
    outline: none;
}

.form-control:focus{
    box-shadow: none;
}

.fab {
    position: fixed !important;
    bottom: 100px;
    right: 20px;
    z-index: 100;
}

.fab1 {
    position: fixed !important;
    bottom: 166px;
    right: 20px;
    z-index: 100;
}